#notification-pane {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #1565c0;
    -fx-border-width: 2;
    -fx-border-radius: 10 10 10 10;
}

#notification-label {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #1565c0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #0d47a1;
}