#tray-context-menu {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 0 10 0 10 !important;
    -fx-border-radius: 0 10 0 10 !important;
    -fx-border-color: linear-gradient(to right, #00796b, #00bfa5, #00796b);
    -fx-border-width: 2;
    -fx-pref-width: 175px;
}

#item-open,
#item-pause,
#item-settings,
#item-about,
#item-pin-to-tray,
#item-switch-mode {
    -fx-padding: 0 26 0 26;
    -fx-font-family: "Times New Roman", Serif;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#item-switch-mode {
    -fx-text-fill: #00e676;
}

#item-exit {
    -fx-padding: 0 26 0 26;
    -fx-font-family: "Times New Roman", Serif;
    -fx-text-fill: #ff5252;
    -fx-font-size: 14px;
}

#checkbox-startup,
#checkbox-wake-up,
#checkbox-battery-icon {
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 14px;
}
