#tray-context-menu {
    -fx-background-color: #f5ede3;
    -fx-background-radius: 0 10 0 10 !important;
    -fx-border-radius: 0 10 0 10 !important;
    -fx-border-color: linear-gradient(to right, #a1887f, #d7ccc8, #a1887f);
    -fx-border-width: 2;
    -fx-pref-width: 175px;
}

#item-open,
#item-pause,
#item-settings,
#item-about,
#item-pin-to-tray,
#item-switch-mode {
    -fx-padding: 0 26 0 26;
    -fx-font-family: "Times New Roman", Serif;
    -fx-text-fill: #3e2723;
    -fx-font-size: 14px;
}

#item-switch-mode {
    -fx-text-fill: #a0522d;
}

#item-exit {
    -fx-padding: 0 26 0 26;
    -fx-font-family: "Times New Roman", Serif;
    -fx-text-fill: #c62828;
    -fx-font-size: 14px;
}

#checkbox-startup,
#checkbox-wake-up,
#checkbox-battery-icon {
    -fx-text-fill: #3e2723;
    -fx-font-family: "Times New Roman", Serif;
    -fx-font-size: 14px;
}
