#notification-pane {
    -fx-background-color: rgba(245, 237, 227, 0.95);
    -fx-background-radius: 5 20 5 20 !important;
    -fx-border-radius: 5 20 5 20 !important;
    -fx-border-color: #8d6e63;
    -fx-border-width: 2;
}

#notification-label {
    -fx-text-fill: #5d4037;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #a1887f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #7b5e57;
}
